@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: #eeeded;
}

.container-start {
  width: 800px;
  height: 600px;
  background-color: #9e7676;
  text-align: center;
  margin: 100px auto;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 5px #bdc3c7;
  display: block;
}
.container-start h1 {
  padding: 75px;
  font-size: 4rem;
}
.container-start p {
  font-size: 2rem;
  padding-bottom: 50px;
}

.container-start .difficulty {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.container-start .difficulty div {
  font-size: 1.5rem;
  border-radius: 15px;
  width: 25%;
  padding: 15px;
  text-align: center;
  cursor: default;
  background-color: #ecc19e;
  transition: 0.2s all ease-in-out;
}
.container-start .difficulty div:hover {
  box-shadow: 0px 0px 5px 5px #bdc3c7;
}

.container-game {
  width: 800px;
  height: 600px;
  border-radius: 15px;
  margin: 100px auto;
  background-color: #ecc19e;
  box-shadow: 0px 0px 5px 5px #bdc3c7;
  display: none;
}
.container-game h1 {
  text-align: center;
  padding: 50px;
  font-size: 3rem;
}
.container-game .bar {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  font-size: 2rem;
}
.container-game .question-div {
  display: flex;
  margin: 100px auto;
  width: 80%;
  height: 60px;
  justify-content: center;
  font-size: 2rem;
  background-color: #d69393;
  border-radius: 15px;
  align-items: center;
}
.container-game .question-div #sendBtn {
  margin-left: 20px;
  margin-right: 20px;
  width: 130px;
  height: 35px;
  line-height: 1.5;
  text-align: center;
  background-color: #f36690;
  border-radius: 15px;
  font-size: 1.5rem;
  transition: 0.2s all ease-in-out;
  cursor: default;
}
.container-game .question-div #sendBtn:hover {
  box-shadow: 0px 0px 5px 5px #bdc3c7;
  background-color: #e44877;
}
.material-symbols-outlined {
  margin-left: 10px;
  scale: 1.3;
  padding: 2px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(220, 170, 236, 0.5);
  border: 0.5px solid rgba(255, 252, 252, 0.5);
}
.material-symbols-outlined:hover {
  background-color: rgba(220, 170, 236, 1);
}
.container-game .question-div #questionId {
  font-size: 1.7rem;
}
.container-game .question-div input {
  margin-left: 15px;
  width: 120px;
  height: 30px;
  font-size: 1.5rem;
}

.container-finish {
  width: 800px;
  height: 600px;
  text-align: center;
  border-radius: 15px;
  margin: 100px auto;
  background-color: #dbd364;
  box-shadow: 0px 0px 5px 5px #bdc3c7;
  display: none;
}
.container-finish h1 {
  font-size: 4rem;
  padding-top: 100px;
}
.container-finish p {
  padding: 50px;
  font-size: 2rem;
}
.container-finish div {
  width: 170px;
  border-radius: 15px;
  height: 50px;
  line-height: 2;
  background-color: #f53e3e;
  font-size: 1.5rem;
  margin: 30px auto;
  transition: 0.2s all ease-in-out;
}
.container-finish div:hover {
  box-shadow: 0px 0px 5px 5px #020202;
}

@media (max-width: 800px) {
  .container-start {
    width: 100vw;
  }
  .container-start h1 {
    font-size: 2rem;
  }
  .container-start p {
    font-size: 1.5rem;
  }
  .container-start .difficulty {
    width: 100%;
  }
  .container-start .difficulty div {
    font-size: 1.1rem;
  }
  .container-game {
    width: 100vw;
  }
  .container-game h1 {
    font-size: 2rem;
  }
  .container-game .bar {
    width: 70%;
    font-size: 1.5rem;
  }
  .container-game .question-div {
    width: 100%;
    font-size: 1.2rem;
  }
  .container-game .question-div #sendBtn {
    width: 80px;
    font-size: 1.2rem;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 2;
  }
  .container-game .question-div #questionId {
    font-size: 1.3rem;
  }
  .container-game .question-div input {
    width: 80px;
    font-size: 1.3rem;
    margin-left: 5px;
  }
  .material-symbols-outlined {
    scale: 1;
    margin-left: 5px;
  }
  .container-finish {
    width: 100vw;
  }
  .container-finish h1 {
    font-size: 2.5rem;
  }
}
