@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body {
  background-color: #f0e9e9;
}
h1 {
  text-align: center;
  padding: 50px;
  font-size: 2.5rem;
}
.container {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.card {
  width: 250px;
  height: 350px;
  position: relative;
  transition: 1.2s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  font-size: 1.3rem;
  transition: 0.5s all ease-in-out;
}
.card-front {
  background-color: rgba(74, 85, 231, 0.5);
  border-radius: 3.5rem;
  text-align: center;
  padding: 20px;
}

.card-front:hover {
  box-shadow: 0px 0px 5px 5px #332775;
}
.card-front:hover img {
  scale: 1.1;
}

.card-back:hover {
  box-shadow: 0px 0px 5px 5px #752727;
}

img {
  width: 200px;
  height: 200px;
  transition: 0.5s all ease-in-out;
}

.card-back {
  padding: 20px;
  text-align: center;
  background-color: #d8a7a7;
  transform: rotateY(180deg);
  border-radius: 3.5rem;
}

.card-type {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

.card-type div {
  width: 100px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  line-height: 2.2;
  background-color: #fff;
}

.card-stats {
  background-color: rgba(235, 118, 118, 0.5);
  border: 0.5px solid #000;
  margin-top: 15px;
  padding: 10px;
  border-radius: 15px;
}

.card-stats ul {
  list-style: none;
  width: 70%;
}
.card-stats ul li {
  font-size: 1.1rem;
  text-align: left;
}

@media (max-width: 1400px) {
  .container {
    width: 90vw;
  }
}
@media (max-width: 800px) {
  .container {
    width: 100vw;
  }
  .card {
    width: 150px;
    height: 250px;
  }
  img {
    margin-top: 20px;
    width: 100px;
    height: 100px;
  }
  .card-front,
  .card-back {
    font-size: 1rem;
  }
  .card-type {
    padding: 0;
  }
  .card-type div {
    width: 70px;
    height: 40px;
  }
  .card-stats ul {
    width: 100%;
  }
  .card-stats ul li {
    font-size: 0.9rem;
  }
}
